flask
flask_sqlalchemy
flask_migrate
flask_cors
flask_restful
flask_jwt_extended
flask_mail
flask_socketio
cloudinary
python-dotenv
psycopg2-binary
marshmallow
marshmallow-sqlalchemy
sendgrid
requests
flask-swagger-ui
gunicorn